.jumbotron {
    background-image: url("../images/train.jpg");
    background-size: cover;
}

h1 {
    color: white;
    text-align: right;
    font-size: 5em;
}

.card-header {
    background: lightblue;
}

.row {
    margin-top: 1em;
}
